<div id="admin_users_panel">
  <%= link_to 'All Users', admin_users_path %>
	| <%= link_to 'New Relic', 'https://rpm.newrelic.com/browser/agents' %>
	| <%= link_to 'Montastic', 'http://montastic.com/servers' %>
	| <%= link_to 'Hop Toad', 'http://radsoft.hoptoadcom/' %>
	| <%= link_to 'Google Apps [radtrack.com]', 'http://google.com/a/radtrack.com/' %>
	| <%= link_to 'Analytics', 'https://www.google.com/analytics/settings/?et=reset&hl=en/' %>
	<br/>
  <%= yield %>
</div>
