<div id="user_<%= user.id %>" class="user project_user">
    <h1>

		<%= user.email %>

		<% beta_user? do %>
			<a href="skype:<%= user.login %>?chat"><img src="http://download.skype.com/share/skypebuttons/buttons/chat_green_white_164x52.png" style="border: none;" width="82px;" height="26px;" alt="Chat with me" title="Skype chat with <%= user.name %>"/></a>
		<% end %>

		<% beta_user? do %>
			<%= image_tag("icons/cog_delete.png", :id => "project_user_#{user.id}", :class => "project_user_delete", :style => "cursor: pointer; float: right; ", :title => 'Remove this user from the project?') %>
		<% end %>
		</h1>
		
		<h2><%= user.name %></h2>

		<%= render :partial => 'tasks/dashboard_tasklist', :locals => {:title => "Active Tasks in This Project", :tasks => user.active_tasks.select{|t| t.card.project == @project}} unless user.active_tasks %>
		
	</div>
	<div id="invite_user_dialog" style="display: none;">
		<% form_for :user, :url => project_invite_user_url(@project) do |f| -%>
			<p>Enter their email address:</p>
			<%= f.text_field :email %>
			<p><input id="invite_user_submit" type="submit" value="Send Invite &rarr;"></p>
		<% end -%>
	</div>
