<div id="project-tabs" style="float: left; width: 100%; height: 800px; display: none;">
  <ul>
    <li><a href="#myprojects"><span>My Projects</span></a></li>
    <!--<li><a href="#mytasks"><span>My Tasks</span></a></li>-->
  </ul>
  <!--<div id="mytasks">-->
    <!--<% current_user.tasks.each do |task| %>-->
      <!--<div class="task">-->
        <!--<h1><%= link_to task.name, project_card_task_path(task.card.project.id, task.card.id, task.id) %></h1>-->
      <!--</div>-->
    <!--<% end %>-->
  <!--</div>-->
  <div id="myprojects">
    <% current_user.projects.each do |project| %>
      <div class="project">
        <h1><%= link_to project.name, project_path(project.id) %></h1>
        <%= image_tag("icons/cog_delete.png", :project_id => project.id, :class => "project_delete", :style => "cursor: pointer; float: right; ", :title => 'Delete this project? All associated cards and tasks will be destroyed.  This cannot be undone.') %>
        <h2>(<%= project.users.size %> Users, <%= project.cards.size %> Cards)</h2>
      </div>
    <% end %>
    <div class="buttons">
      <button id="new_project_button">
        <%= image_tag("icons/add.png") %>
        Create a New Project
      </button>
    </div>
  </div>
</div>
  <div id="new_project_colorbox" style="float: left; display: none;">
    <%= render :partial => 'projects/new' %>
  </div>
<% content_for :tail_javascript do %>

  <script type="text/javascript">
    $(function() {
      $('#project-tabs').tabs().fadeIn("slow");
      $('#new_project_button').colorbox({
        inline:true,
        href:"#new_project_colorbox",
        opacity:0.3,
        onOpen: function() {
          $('#new_project_colorbox').show()
        },
        onClosed: function() {
          $('#new_project_colorbox').hide()
        }
      });
    });
  </script>
<% end %>
