<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? -%>  
<%= render :partial => 'shared/head' %>
</head>
<body class="ui-widget-content">

<div id="doc3" class="yui-t4">
  
  <div id="hd">
  	<div style="float: left;">
		  <%= image_tag 'graffle/radtrack_logo_beta.png', :width => '120', :height => '40'  if current_user %> 
	  </div>
    <%= render :partial => 'sessions/login_bar' %>
  </div>

  <div id="bd">

    <div class="yui-g">
      <%= display_flashes %>
    	<%= yield %>
    </div>

  </div>
</div>

<div style="display: none;" id="jquery_dialog_card"></div>


<%= javascript_include_merged :tail %>
<%= render :partial => 'shared/uservoice' %>
<%= render :partial => 'shared/google_analytics' %>

<script type="text/javascript" charset="utf-8">
// TODO: This code below is supposed to dry up authenticity_token and header settings for ALL ajax request, but couldn't get it to work...
// $(function() {
// 	jQuery.ajaxSetup({
// 		'beforeSend': function(xhr) {
// 			xhr.setRequestHeader("Accept", "text/javascript");
// 		}
// 	});
// 
// 	//borrowed from http://brandonaaron.net/blog/2009/02/24/jquery-rails-and-ajax
// 	// Always send the authenticity_token with ajax
// 	$(document).ajaxSend(function(event, request, settings) {
// 	  if ( settings.type == 'post' ) {
// 	    settings.data = (settings.data ? settings.data + "&" : "") + "authenticity_token=" + encodeURIComponent( AUTH_TOKEN );
// 	    request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
// 	  }
// 	});
// 
// 	$.ajaxSettings.accepts.html = $.ajaxSettings.accepts.script;
// });
// 
</script>

<%= yield :tail_javascript %>

</body>

</html>

